<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/personal-info.css">
<link rel="stylesheet" href="css/regis.css">
<link rel="stylesheet" href="css/signup.css">
<link rel="stylesheet" href="css/foundation-datepicker.css">
<link rel="stylesheet" href="css/foundation-datepicker.css.map">
<link rel="stylesheet" href="css/foundation-datepicker.min.css">

<head>
  <% include ../partials/head %>
</head>

<body style="height: 100vh;">
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x">
      <div class="cell medium-cell-block-y  " style="width:17rem">
        <% include ../partials/header %>
      </div>
      <div class="cell medium-cell-block-y auto">
        <div class="cell small-6 full  bgforms" align="left">
          <div style="padding: 2rem  4em 2em 10em;">
            <div class="grid-x">
              <div class=" small-2"></div>
              <div class=" small-8">
                <h1>เกี่ยวกับฉัน</h1>
              </div>
              <div class=" small-2"></div>
            </div>
          </div>
        </div>

        <div class="cell small-6 full" align="center" style="padding:2em;">
          <div class="grid-x">
            <div class=" small-2"></div>
            <div class=" small-6">
            </div>
            <div class=" small-4"></div>
          </div>
        </div>

        <div class="cell small-6" style="padding:2rem  4em 2em 10em;">
          <form id="signup" name="signup" enctype="multipart/form-data" method="post" action="/signup">
            <div class="grid-x grid-margin-x">
              <div class="cell small-2">
                <ul class="vertical menu menu-personal">
                  <li><a class="is-selected"href="#">แก้ไขข้อมูลส่วนตัว</a></li>
                  <li><a href="#">ข้อมูลที่ทำงาน</a></li>
                  <li><a href="#">ผลงานของฉัน</a></li>
                  <li><a href="#">เปลี่ยนรหัสผ่าน</a></li>
                </ul>
              </div>
              <div class="cell small-6">

                <div class="grid-y grid-margin-y">

                  <!-- ROW กลุ่มข้อมูล -->
                  <div class="cell small-6" style="background-color:#FFF;border-radius:10px;border:1px solid #E6E6E6;">

                    <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                      <label style="font-size:1.5em;">ข้อมูลส่วนตัว </label>
                    </div>

                    <div class="grid-y">
                      <div class="cell small-6" style="padding:0em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 floated-label-wrapper">
                            <label for="email">E-Mail</label>
                            <input type="email"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.email%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6 floated-label-wrapper">
                            <label>สิทธิ์การใช้งาน</label>
                            <% if(userinfo.userPermission == "admin"){ %>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="ผู้ดูแลระบบ">
                            <% } else{ %>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="นักวิจัย">
                            <% } %>
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 floated-label-wrapper">
                            <label for="nameIDReseacher">รหัสนักวิจัย</label>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.nameIDReseacher%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-4 floated-label-wrapper">
                            <label for="nameIDHuman">รหัสบัตรประชาชน</label>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.nameIDHuman%>">
                          </div>
                          <!-- คอลัม 3 -->
                          <div class="cell small-5 floated-label-wrapper">
                            <label for="birthday">วัน/เดือน/ปีเกิด</label>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.birthday%>">
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-3 floated-label-wrapper">
                            <label for="prefix">คำนำหน้า</label>
														<% if(userinfo.prefix == "Mr."){ %>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="นาย">
                            <% } else{ %>
															<% if(userinfo.prefix == "Mrs."){ %>
	                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="นาง">
	                            <% } else{ %>
	                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="นางสาว">
	                            <% } %>
                            <% } %>
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-3 floated-label-wrapper">
                            <label for="academicPositions">ตำแหน่งทางวิชาการ</label>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.academicPositions%>">
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 floated-label-wrapper">
                            <label for="firstname">ชื่อ (ภาษาไทย)</label>
                          <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.firstname%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6 floated-label-wrapper">
                            <label for="lastname">นามสกุล (ภาษาไทย)</label>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.lastname%>">
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 floated-label-wrapper">
                            <label for="engFirstName">ชื่อ (ภาษาอังกฤษ)</label>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.engFirstName%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6 floated-label-wrapper">
                            <label for="engLastName">นามสกุล (ภาษาอังกฤษ)</label>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.engLastName%>">
                          </div>
                        </div>
                      </div>

                      <div class="cell small-6" style="padding:1em 1em 1em 1em;">
                        <div class="grid-x grid-margin-x">
                          <!-- คอลัม 1 -->
                          <div class="cell small-6 floated-label-wrapper">
                            <label for="nationality">สัญชาติ</label>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.nationality%>">
                          </div>
                          <!-- คอลัม 2 -->
                          <div class="cell small-6 floated-label-wrapper">
                            <label for="telNumber">เบอร์โทร</label>
                            <input type="text"   style="margin:0px!important;border-radius:5px;" value="<%=userinfo.telNumber%>">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class=" small-2" data-sticky-container style="border-radius:5px;padding-left: 1em;">
                <div class=" grid-y" data-sticky data-margin-top="19">

                  <div class=" small-6" style="padding-bottom: 1em;">
                    <input type="submit" value="ยืนยัน" class="button primary expanded" id="" style="border-radius:2em;padding:1em;">
                  </div>

                  <div class=" small-6">

                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>

</body>

<footer>
  <% include ../partials/footer %>
  <script src="js/regis.js"></script>
  <script src="js/signup.js"></script>
  <script src="js/foundation-datepicker.js"></script>
  <script src="js/foundation-datepicker.min.js"></script>
</footer>

</html>
